<%= direct_upload_form_for @uploader do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_path %><br>
    <%= f.file_field :image_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
